@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    background-image: url('../img/mci22hd.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 97vh;
}

.accroche {
    text-shadow: 0 0 1em blue, 0 0 0.2em blue;
}

.mcibglogo {
    background-image: url('../img/mcibglogo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 3px 3px 6px white;
}